body {
	text-align: center;
	background-color: #808080;
	font-family: impact;
}

#header {
	margin: 20px 40px 20px 40px;
	background-color: #000;
}

h1 {
	padding-top: 10px;
	color: #fff;
	font-size: 60px;
	margin-top: 40px;
}

h2 {
	color: #fff;
	font-size: 30px;
	margin-bottom: 40px;
	padding-bottom: 10px;
}

#countdown-wrapper {
	margin-left: 40px;
	margin-right: 40px;
	height: 100px;
}

.time-wrapper {
	display: inline-block;
	width: 85px;
	margin-left: 10px;
}

.time-text {
	background-color: #800000;
	color: #fff;
	padding-top: 5px;
	font-size: 20px;
	padding: 5px;
	margin-bottom: 5px;
}

.digits {
	background-color: #000;
	border: 2px solid #585858;
	border-radius: 2px;
	color: #00ff00;
	font-size: 45px;
	width: 85px;
	height: 80px;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	font-family: courier;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* #vote {
	display: none;
	margin-top: 40px;
}

#vote img {
	width: 40%;
	border: 10px solid #fff;
	border-radius: 10px;
} */

#form-wrapper {
	margin-top: 50px;
}


input[type="text"] {
	height: 23px;
	border: none;
}

input[type="button"] {
	border: none;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: impact;
	margin-left: 5px;
}